<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.touchstone.dao.JobDao">
    <resultMap type="com.touchstone.entity.JobInfo" id="jobResultMap">
        <id property="jobId" column="job_id" jdbcType="CHAR"/>
        <result property="jobNm" column="job_nm" jdbcType="VARCHAR"/>
        <result property="creNm" column="cre_nm" jdbcType="VARCHAR"/>
        <result property="creDt" column="cre_dt" jdbcType="TIMESTAMP"/>
        <result property="jobTyp" column="job_typ" jdbcType="VARCHAR"/>
        <result property="jobVer" column="job_ver" jdbcType="VARCHAR"/>
        <result property="jarPath" column="jar_path" jdbcType="VARCHAR"/>
        <result property="sparkMode" column="spark_mode" jdbcType="VARCHAR"/>
        <result property="mainClass" column="main_class" jdbcType="VARCHAR"/>
        <result property="appArgs" column="app_args" jdbcType="VARCHAR"/>
        <result property="begnTm" column="begn_tm" jdbcType="TIMESTAMP"/>
        <result property="endTm" column="end_tm" jdbcType="TIMESTAMP"/>
        <result property="jobSts" column="job_sts" jdbcType="TINYINT"/>
        <result property="trgId" column="trg_id" jdbcType="VARCHAR"/>
        <result property="lstModNm" column="lst_mod_nm" jdbcType="VARCHAR"/>
        <result property="lstModDt" column="lst_mod_dt" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="selectJobByIf" parameterType="com.touchstone.entity.JobInfo" resultMap="jobResultMap">
        select * from dwa_spark_job_info where 1=1
        <if test="jobInfo.jobId !=null">
            and job_id=#{job.jobId}
        </if>
        <if test="jobInfo.creNm!=null">
            and cre_nm=#{job.creNm}
        </if>
    </select>
    <select id="groupByStatus" resultType="java.util.HashMap">
        select job_sts,count(*) sts_cnt from dwa_spark_job_info group by job_sts
    </select>
    <select id="countAllJob"  resultType="int">
        select count(*) from dwa_spark_job_info
    </select>
    <!--   根据id查询对应的数据信息 -->
    <select id="selectJobById" parameterType="String" resultMap="jobResultMap">
        select * from dwa_spark_job_info where job_id=#{jobId}
    </select>
    <!--    查询所有 数据 -->
    <select id="selectAllJob" resultMap="jobResultMap">
        select * from dwa_spark_job_info
    </select>
    <!-- 添加数据信息 -->
    <insert id="insertJob" parameterType="com.touchstone.entity.JobInfo">
        insert into  dwa_spark_job_info(job_id,job_nm,cre_nm,job_typ,job_ver,jar_path,spark_mode,main_class,app_args)
        values (#{jobInfo.jobId},#{jobInfo.jobNm},#{jobInfo.creNm},#{jobInfo.jobTyp},#{jobInfo.jobVer},#{jobInfo.jarPath},
                #{jobInfo.sparkMode},#{jobInfo.mainClass},#{jobInfo.appArgs})
    </insert>
    <!-- 更新数据信息 -->
    <update id="updateJob" parameterType="com.touchstone.entity.JobInfo">
        update dwa_spark_job_info set job_ver=#{jobInfo.jobVer},jar_path=#{jobInfo.jarPath},spark_mode=#{jobInfo.sparkMode},main_class=#{jobInfo.mainClass},app_args=#{jobInfo.appArgs}
        where job_id=#{jobInfo.jobId}
    </update>
    <!-- 更新作业运行状态信息 -->
    <update id="updateJobBegnSts">
        update dwa_spark_job_info
        set job_sts=#{jobSts},begn_tm=CURRENT_TIMESTAMP,end_tm=NULL
        where job_id=#{jobId}
    </update>
    <!-- 更新作业结束状态信息 -->
    <update id="updateJobEndSts">
        update dwa_spark_job_info
        set job_sts=#{jobSts},end_tm=CURRENT_TIMESTAMP
        where job_id=#{jobId}
    </update>
    <!-- 删除数据信息 -->
    <delete id="deleteJobById" parameterType="String">
        delete from dwa_spark_job_info where job_id=#{jobId}
    </delete>
</mapper>