<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spark作业管理平台</title>
    <link th:href="@{../../bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{../../bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link th:href="@{../../bootstrap/css/bootstrap-multiselect.css}" rel="stylesheet" />
</head>
<nav class="navbar navbar-default navbar-stacked" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spark作业管理平台</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="../index">首页</a></li>
                <li class="active"><a href="list">作业</a></li>
                <li><a href="../trigger/list">触发器</a></li>
                <li><a href="#">设置</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-1 control-label">作业名称</label>
        <div class="col-sm-2">
            <input class="form-control" id="nameInput" type="text"  value="该输入作业名称" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">版本</label>
        <div class="col-sm-2">
            <input class="form-control" id="versionInput" type="text"  value="该输入版本" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label" for="inputfile">选择jar包</label>
        <div class="col-sm-2">
            <input type="file" id="inputfile"/>
        </div>
        <input id="uploadBtn" type="submit" class="btn btn-default" value="上传"/>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">spark运行模式</label>
        <div class="col-sm-2">
            <select class="form-control" id="sparkmode">
                <option value="yarn-client">yarn-client</option>
                <option value="local">local</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">spark主函数</label>
        <div class="col-sm-2">
            <input class="form-control" id="mainInput" type="text"  value="该输入spark主函数" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">jar应用参数</label>
        <div class="col-sm-2">
            <input class="form-control" id="argsInput" type="text"  value="该输入jar应用参数" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">选择触发器</label>
        <div class="col-sm-2">
            <select class="form-control" id="selTrigger">
                <option value="">无</option>
                <option th:each="tg:${trgList}" th:value="${tg.trgId}" th:text="${tg.trgNm}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">选择依赖作业</label>
        <div class="col-sm-2">
            <select class="form-control" id="selDepend" multiple="multiple">
                <option value="">无</option>
                <option th:each="jb:${jobList}" th:value="${jb.jobId}" th:text="${jb.jobNm}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div align="center" class="col-sm-2">
            <button id="okBtn" onclick="saveJob()" type="button" class="btn btn-primary">保存</button>
            <button id="cancelBtn" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">取消</button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel" align="left">取消提示</h4>
                        </div>
                        <div class="modal-body" align="left">
                            点击确认返回列表页，点击关闭回到当前页。
                        </div>
                        <div class="modal-footer">
                            <a href="./list" class="btn btn-success">确认</a>
                            <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</form>
<script th:src="@{../../jquery-3.1.1.js}" type="text/javascript"></script>
<script th:src="@{../../bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{../../bootstrap/js/bootstrap-multiselect.js}" type="text/javascript"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#selDepend').multiselect();
    });
 function saveJob() {
     var jsons = {};
     jsons.jobNm = document.getElementById("nameInput").value;
     jsons.jobVer = document.getElementById("versionInput").value;
     jsons.jarPath = document.getElementById("inputfile").value;
     jsons.sparkMode = document.getElementById("sparkmode").value;
     jsons.mainClass = document.getElementById("mainInput").value;
     jsons.appArgs = document.getElementById("argsInput").value;
     jsons.trgId = document.getElementById("selTrigger").value;
     jsons.depJid = document.getElementById("selDepend").value;
     jsons.creNm = "zwh";

     $.ajax({
         method: "POST",
         url: "/job/create/",
         contentType: "application/json",
         data: JSON.stringify(jsons),
         dataType: "json",
         success: function(ret) {
             //console.log(ret);
             if(ret.success) {
                 alert(ret.msg);
                 window.location.href="/job/list"; //页面重载
             }else {
                 alert(ret.msg);
             }
         },
         error: function(ret) {
             //console.log(ret);
             alert("服务不可用，稍后再试");
         }
     });
 }
</script>
</body>
</html>